<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>ユーザー登録</h1>
    <video id="video" autoplay></video>
    <canvas id="canvas" style="display: none;"></canvas>
    <button id="capture">Capture</button>
    <button id="upload" disabled>Upload</button>
    <h2>new user name</h2>
    <input type="text"></input>

    <script src="/static/script.js"></script>
</body>
</html>

